.form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: flex-end; */
  margin: 0;
  padding: 2rem 6rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 2rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);

  background: linear-gradient(
    to top right,
    #f9ad1b -20%,
    #f98512 30%,
    #f23000 100%
  );
}

.logo {
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  text-align: center;
  color: #fff;
}

.formTitle {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
}

.field {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.label {
  padding-left: 1.5rem;
  margin-bottom: 0.8rem;
  color: #fff;
  font-size: 1.4rem;
}

.input,
.submitButton,
.googleButton,
.changeFormSubmit {
  border-radius: 2rem;
}

.forgotPasswordButton {
  color: #fff;
  text-align: right;
  margin-left: 1rem;
  border: none;
  background: none;
  font-size: 1.4rem;
  cursor: pointer;
  transition: color 0.3s;
}

.forgotPasswordButton:hover {
  color: rgb(255, 196, 128);
}

.input {
  padding: 1rem;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.2s ease;
}

.input:focus {
  border-color: #007bff;
}

.changeFormFieldContainer {
  width: 35rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span,
.changeFormSubmit {
  font-size: 1.4rem;
}

.span {
  color: #fff;
}

.changeFormSubmit {
  margin-left: 1rem;
  color: #000;
  border: none;
  background: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.changeFormSubmit:hover {
  color: #fff;
}

.changeFormSubmit,
.submitButton,
.googleButton {
  transition: color 0.3s, background-color 0.3s;
}

.submitButton,
.googleButton {
  padding: 1rem 2rem;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.input,
.submitButton,
.submitButton,
.googleButton {
  width: 35rem;
}

.googleButton {
  margin-top: 5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.googleButton:hover {
  background-color: rgb(182, 181, 181);
}

.submitButton {
  margin-top: 2rem;
  color: #fff;
  background-color: #413434;
}

.submitButton:hover {
  background-color: #fff;
  color: #413434;
}
