.form {
  margin: 0;
  padding: 2rem 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  background: var(--colorOfBackground);
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  transform: translate(-50%, -50%);
}

.logo {
  color: var(--whiteColor);
  font-size: 3rem;
  text-align: center;
  font-family: "Pacifico", cursive;
}

.formTitle {
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: var(--whiteColor);
  font-size: 2.5rem;
  text-align: center;
}

.field {
  margin-bottom: 1.6rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.label {
  margin-bottom: 0.8rem;
  padding-left: 1.5rem;
  color: var(--whiteColor);
  font-size: 1.4rem;
}

.input,
.submitButton,
.googleButton,
.changeFormSubmit {
  border-radius: 2rem;
}

.forgotPasswordButton {
  margin-left: 1rem;
  color: var(--whiteColor);
  font-size: 1.4rem;
  text-align: right;
  border: none;
  background: none;
  transition: color 0.3s;
  cursor: pointer;
}

.forgotPasswordButton:hover {
  color: var(--whiteHover);
}

.input {
  padding: 1rem;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.2s ease;
}

.changeFormFieldContainer {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span,
.changeFormSubmit {
  font-size: 1.4rem;
}

.span {
  color: var(--whiteColor);
}

.changeFormSubmit {
  margin-left: 1rem;
  font-size: 1.4rem;
  border: none;
  background: none;
  cursor: pointer;
}

.changeFormSubmit:hover {
  color: var(--whiteColor);
}

.changeFormSubmit,
.submitButton,
.googleButton {
  transition: color 0.3s, background-color 0.3s;
}

.submitButton,
.googleButton {
  padding: 1rem 2rem;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.input,
.submitButton,
.submitButton,
.googleButton {
  width: 35rem;
}

.googleButton {
  margin-top: 5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.googleButton:hover {
  background-color: rgb(182, 181, 181);
}

.submitButton {
  margin-top: 2rem;
  color: var(--whiteColor);
  background-color: var(--colorSubmitButton);
}

.submitButton:hover {
  color: var(--colorSubmitButton);
  background-color: var(--whiteColor);
}
