@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --colorOfBackground: linear-gradient(
    to top right,
    #f9ad1b -20%,
    #f98512 30%,
    #f23000 100%
  );

  --whiteColor: #fff;
  --whiteHover: rgb(250, 234, 213);
  --colorSubmitButton: #413434;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}